

body{
    background-image:url("https://media.istockphoto.com/id/977758524/photo/modern-keyboard-with-blue-complaints-button.jpg?b=1&s=612x612&w=0&k=20&c=XJi7QBxw1TqzkusgjD0K63lZnf1nhVX5EioRjoadlBM=");
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    backdrop-filter: blur(0px);
}
.main{
    background-color: rgba(0,0,0, 0.5);
    width:400px;
    margin-left: 550px;
    height:300px;
    

}
input{
    margin-left: 80px;
    border-radius: 10px;
    width: 250px;
    padding: 15px;
    border: 1px solid black;
    background-color: rgba(red, rgb(255, 255, 255), blue, alpha);
}
button{
    margin-left: 160px;
    padding: 15px;
    border-radius: 15px;
    background-color: black;
    color: whitesmoke;

}
h2{
    margin-left: 100px;
    border:1px;
    color: black;
}

