<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="donation.css">
</head>
<body>
    <div class="main">
        <h2>DONATION</h2>
       
        <form action="">
            
            <input type="text" id="first" name="first"  placeholder="USER NAME"/><br><br>
            <input type="text" id="location" name="item "  placeholder="ITEM"/><br><br>
            <input type="text" id="phone no" name="date"  placeholder="DATE"/><br><br>
            <input type="text" id="contact" name="category"  placeholder="CATEGORY"/><br><br>
            
</form>
 </div>
</body>
</html>