<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="food information.css">
</head>
<body>
    <div class="main">
        <h2>FOOD INFORMATION</h2>
       
        <form action="">
            
            <input type="text" id="first" name="first"  placeholder="FOOD CATEGORY"/><br><br>
            <input type="text" id="location" name="dicscription "  placeholder="DISCRIPTION"/><br><br>
            <input type="text" id="phone no" name="food status"  placeholder="FOOD STATUS"/><br><br>
            <input type="text" id="contact" name="food name"  placeholder="FOOD NAME"/><br><br>
            <input type="text" id="about" name="" placeholder="FOOD STATUS"/><br><br>
            <button type="submit">MANAGE</button>
</form>
 </div>
</body>
</html>