<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="request.css">
</head>
<body>
    <div class="main">
        <h2>REQUEST FORM</h2>
       
        <form action="">
            
            <input type="text" id="first" name="first"  placeholder="ITEM REQUEST"/><br><br>
            <input type="text" id="last" name="last"  placeholder="QUANTITY"/><br><br>
            <input type="text" id="model" name="mobile"  placeholder="model"/><br><br>
            <input type="text" id="date" name="date"  placeholder="DATE"/><br><br>
            <button type="submit">REQUEST</button>
            
</form>
 </div>
</body>
</html>