<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="working.css">
</head>
<body>
    <div class="main">
        <h2>WORKING STATUS</h2>
       
        <form action="">
            
            <input type="text" id="first" name="first"  placeholder="WORKING STATUS"/><br><br>
            <input type="text" id="reply" name="time"  placeholder="TIME"/><br><br>
            <input type="text" id="reply" name="date"  placeholder="DATE"/><br><br>
</div>
<body>
</body>
</html>