<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="complaint.css">
</head>
<body>
    <div class="main">
        <h2>COMPLAINT</h2>
       
        <form action="">
            
            <input type="text" id="first" name="first"  placeholder="ITEM"/><br><br>
            <input type="text" id="reply" name="first"  placeholder="reply"/><br><br>
</div>
<body>
</body>
</html>