{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/admin feedback.css' %}">
    <body>
        <body>
            <div class="table-container">
                <h3> FEEDBACK</h3>
                <table id="food-info-table" border="1">
                    <thead>
                       
                        <tr>
                            <th>Name</th>
                            <th>Review </th>
                            <th>Rating </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in val %}
                     <tr>
                            <td>{{i.USER.Username}}</td>
                            <td>{{i.Feedback}}</td>
                            <td>{{i.Rating}}</td>
                            
                     </tr>
                     {% endfor %}
                </tbody>
                </table>
            </div>
            </body>
            </html>