<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="feedback.css">
    <body>
        <div class="main">
            <h2>FEEDBACK FORM</h2>
           
            <form action="">
                
                <input type="text" id="first" name="first"  placeholder="REVIEW"/><br><br>
                <select>
                    <option>RATING</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br><br>
                <button type="submit">SENT</button>
                
    </form>
     </div>
    </body>