<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="food information.css">
</head>
<body>
    <div class="main">
        <h2>NOTIFICATION</h2>
       
        <form action="">
            
            <input type="text" id="first" name="first"  placeholder="NOTIFICATION"/><br><br>
            <input type="text" id="notification" name="dicscription "  placeholder="DATE OF NOTIFICATION"/><br><br>
           <button type="submit">SENT</button>
</form>
</div>
<body>
</body>
</html>