{% load static %}
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- <title>Responsive Navbar with Searchbox</title> -->
      <link rel="stylesheet" href="{% static 'css\restuarantcmainpage.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

   </head>
   <body>
      <nav>
         <ul>
            <li class="logo">RESTAURANT</li>
            <li class="btn"><span class="fas fa-bars"></span></li>
            <div class="items">
               <li><a href="AddFoodinformation">FOOD INFORMATION</a></li>
               <li><a href="/manage_profile">MANAGE PROFILE</a></li>
               <!-- <li><a href="/complaint">COMPLIANTS</a></li> -->
               <li><a href="/feedback">FEEDBACK</a></li>
               <li><a href="/notification">NOTIFICATION</a></li>
            </div>
           
         </ul>
      </nav>
      <script>
         $('nav ul li.btn span').click(function(){
           $('nav ul div.items').toggleClass("show");
           $('nav ul li.btn span').toggleClass("show");
         });
      </script>
   </body>
</html>