{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/camp regpage.css' %}">
</head>
<body>
    <div class="main">
        <h2>REGISTARION FORM</h2>
        <form action="" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            
            <input type="text" id="first" name="Name"  placeholder="CAMP NAME"/><br><br>
            <input type="number" id="last" name="Camp_no"  placeholder="CAMP NO"/><br><br>
            <input type="text" id="place" name="Place"  placeholder="PLACE"/><br><br>
            <input type="file" id="proff" name="Idproof"  placeholder="PROFF"/><br><br>
            <input type="text" id="Username" name="Username" placeholder="Username"><br><br>          
            <input type="password" id="password" name="password" placeholder="PASSWORD" /><br><br>  
            <button type="submit">REGISTER</button>
            
</form>
 </div>

</body>
</html>