{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
</head>
<body>
    <div class="main">
        <h2> REGISTRATION FORM</h2>
       
        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
           
            <input type="text" id="Name" name="Name"  placeholder="Name"/><br><br>
            <input type="text" id="place" name="place" placeholder="Place"/><br><br>
            <input type="text" id="Post" name="Post" placeholder="Post"/><br><br>
            <input type="number" id="Pin" name="Pin" placeholder="Pin"/><br><br>
            <input type="number" id="Phone" name="Phone" placeholder="Phone"><br><br>
            <input type="text" id="Username" name="Username" placeholder="Username"><br><br>
            <input type="email" id="Email" name="Email" placeholder="EMAIL"/><br><br> 
            <input type="password" id="password" name="password" placeholder="PASSWORD" /><br><br>  
            <button type="submit">REGISTER</button>
            
</form>
 </div>
</body>
</html>